extend ../common/_master

block main
    link(rel='stylesheet', href='../../public/css/users/profile.css', type='text/css' )
    #profile-container.col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3
        .well.well-sm
            .row
                form(action="/user/profile/edit" method="POST" enctype="multipart/form-data")
                    .col-sm-6.col-md-4
                        //- img.img-rounded.img-responsive(src=user.imageUrl, alt=user.username)
                        div(class="col s4 file-field input-field")
                            div(class="btn deep-orange")
                                span
                                    |Image
                                input(type="file" name="profile" accept="application/x-zip-compressed,image/*")                 
                            div(class="file-path-wrapper")
                            input(class="file-path validate" type="text")
                    .col-sm-6.col-md-8.text-center
                        input(type="text" name="firstName" value=user.firstName placeholder="First Name" required)
                        input(type="text" name="lastName" value=user.lastName placeholder="Last Name" required)                                                
                        h4#username
                            = user.username
                        i.glyphicon.glyphicon-map-marker
                        input(type="text" name="city" value=user.city placeholder="City" required)                                                
                        br
                        i.glyphicon.glyphicon-envelope
                            = user.email
                        br
                        button(type='submit' class='btn deep-orange' id='edit-profile-btn')
                            | Submit