extend ../common/_master

block main
    link(rel='stylesheet', href='../../public/css/users/profile.css', type='text/css')
    div(class="orange accent-4 card center-align light-green-text text-lighten-4" id="messages-box")
        !=messages()
    div(class="row")
        div(class="card col s12 m5 l3" id="profile-container")
            if defaultImg
                img(class="responsive-img circle" src="data:image/png;base64," + defaultImg)
            else 
                img(class="responsive-img circle" src="data:image/png;base64," + encodedImg)
            p(class="flow-text")
                    |Username: #{user.username}
            p(class="flow-text")
                    |Firstname: #{user.firstName}
            p(class="flow-text")
                    |Lastname: #{user.lastName}
            p(class="flow-text")
                    |City: #{user.city}
            p(class="flow-text")
                    |Email: #{user.email}
        div(class="col s12 m5 l3" id="profile-buttons")
            form(action="/user/profile/edit")
                button(class="btn deep-orange")
                    |Edit profile
            form(action="/events/create")
                button(class="btn deep-orange")
                    |Create event
            form(action="/user/profile/my-events")
                button(class="btn deep-orange")
                    |My events
            form(action="/events/browse")
                button(class="btn deep-orange")
                    |Browse all
    script(src="/public/js/notifications/profile.notification.js")