extend ../common/_master

block main
    link(rel='stylesheet', href='../../public/css/users/profile.css', type='text/css')
    div(class="row")
        div(class="card col s6 m5 l3" id="profile-container")
            img(class="responsive-img circle" src="#{user.imageUrl}")
            p(class="flow-text")
                |Username: #{user.username}
            p(class="flow-text")
                |Firstname: #{user.firstName}
            p(class="flow-text")
                |Lastname: #{user.lastName}
            p(class="flow-text")
                |City: #{user.city}
            p(class="flow-text")
                |Lastname: #{user.email}
        div(class="col s6 m5 l3" id="profile-buttons")
            form(action="/user/profile/edit")
                button(class="btn deep-orange")
                    |Edit profile
            form(action="/user/create-event")
                button(class="btn deep-orange")
                    |Create event
            form(action="/user/my-events")
                button(class="btn deep-orange")
                    |My events